body, 
html, body > div:first-child,
div#__next,
div#__next > div{
    height: 100%;
}

.fondo {
    background-color: rgb(99, 158, 226);
}

.overflow {
    height: 50%;
    overflow: hidden;
}

.overflow .card-img-top {
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.overflow .card-img-top:hover {
   transform: scale(1.8);
}

#nprogress .bar {
    background-color: rgb(255, 255, 255);
}

#nprogress .spinner-icon {
    border-top-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);;
}

.transition {
    animation: transitioIn 0.75s;
}

@keyframes transitioIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg)
    } to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.progress-bar-animation{
    animation: animate-positive 2s;
    background-color: rgba(38, 49, 204, 0.698);;
}

@-webkit-keyframes animate-positive {
    0%{
        width: 0;
    }
}

@keyframes animate-positive {
    0%{
        width: 0;
    }
}

.texto-justificado{
    text-align: justify;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: rgb(168, 190, 250);
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: rgb(168, 190, 250);
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgb(168, 190, 250);
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#415e9c),
									   to(#195191),
									   color-stop(.6,#5494de))
}

